.mi-add-inventory-container{
  display:flex;
  align-items: center;
  font-size: 20px;
}
.mi-add-inventory-inputs{
  display:flex;
  flex-direction: column;
  float:right;
  padding-left: 10px;
}
.mi-add-inventroy-section{
  display: flex;
  max-width: 340px;
  justify-content: space-between;
  padding: 0 2rem;
}
