/* TODO: improve the names of the classes */
.mi-order-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
.mi-order-sort-by-container{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.mi-order-sort-by{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mi-order-filter-by{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mi-order-sort-by div{
  padding: 1rem 2rem;
  background: rgb(247, 202, 213);
  transition: .2s background-color;
}
.mi-order-sort-by div:hover{
  background-color: rgb(245, 168, 187);
}
.mi-order-sort-by-item{
  height:100px;
  background-color: white;
  padding: 0 10px;
  margin: 0 2px;
}
.mi-admin-order{
  padding: 20 40px;
  box-sizing: border-box;
  border: 4px solid grey;
}
.mi-admin-order-cards {
  width:100%;
}
.mi-admin-order-cards tr:first-child{
  background: #f8f8f8;
}
.mi-admin-order-cards tr:nth-child(2n+3){
  background: rgb(207, 207, 207);
}
.mi-admin-order-cards tr:nth-child(2n){
  background: rgb(175, 175, 175);
}
