body {
    margin: 0;
}

.mi-nav-contaier {
    position: fixed;
    height: 75px;
    background-color: rgb(178, 241, 213);
    left: 0;
    right: 0;
}

.mi-header-desktop {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.mi-header-section {
    flex: 0 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.mi-header-link {
    height:100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-weight: 700;
    color: #6e7a7d;
}
.mi-header-link-box{
    height:100%;
    align-items: center;
    display:flex;
    box-sizing: border-box;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color .2s ease;
}
.mi-header-link-box:hover{
    border-bottom-color: black;
}

.mi-header-mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .mi-header-desktop {
        display: none;
    }
    .mi-header-mobile {
        display: block;
    }
}

.mi-body {
    margin: 0 auto;
    padding-top: 75px;
    width: 800px;
    height: 600px;
}

.mi-pricing {
    display: flex;
    padding-top: 20px;
    width: 800px;
}

.mi-search {
    background-color: yellow;
    width:400px;
    height: 600px;
}

.mi-cart {
    background-color: red;
    width:400px;
    height:600px;
}
.mi-card-container{
    height: 525px;
    background-color: blue;
    overflow: auto;
}
.mi-cart-options{
    height:75px;
    display:flex;
    justify-content: space-around;
    align-items:  center;
}
.mi-cart-options-container{
    font-size: 1.25em;
}
.mi-card{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
    padding: 0 2;
    height: 110px;
    background-color: rgb(170, 174, 176);
}
.mi-card-section{
}
.mi-card-price-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height:100%;
}

.mi-card-price-section{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.mi-card-price-section input{
    padding: 1px;
    text-align: center;
    width: 40px;
    margin-left: 4px;
}
.mi-card-image{
    height:105px;
    width:78px;
    position: relative;
    background-size: contain;
}
.mi-card-image:active{
    height:310;
    width:223;
    z-index: 2;
}
