<div class="nav-contaier">
    <div class="nav-logo">
        <a ui-sref="home"><img src="assets/logo.svg"></img></a>
    </div>
    <div class="nav-items">
        <ul class="nav-list">
            <li ng-if="!vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="stores">View Stores</a>
            </li>
            <li ng-if="!vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="area">Find Card in my Area</a>
            </li>
            <li ng-if="!vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="cart">Cart</a>
            </li>
            <li ng-if="vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="adminInventory">Manage Inventory</a>
                <ul aria-label="submenu">
                    <li class="nav-sub-item"><a ui-sref="adminAddInventory">Add</a></li>
                    <li class="nav-sub-item"><a ui-sref="adminViewInventory">View</a></li>
                    <li class="nav-sub-item"><a ui-sref="adminUpdateInventory">Update</a></li>
                </ul>
            </li>
            <li ng-if="vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="admin.store">My Store</a>
            </li>
            <li ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="adminOrders">View Orders</a>
            </li>
            <li ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="adminLocalSale">Local Sale</a>
            </li>
            <li ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="adminSettings">Settings</a>
            </li>
            <li ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="nav-item">
                <a ui-sref="adminPricing">Find Card price</a>
            </li>
            <li ng-if="vm.auth.isAuthenticated() && vm.auth.isOwner()" class="nav-item">
                <a ui-sref="admin.employee">Employees</a>
            </li>
            <li ng-if="!vm.auth.isAuthenticated()" class="nav-item">
                <a ui-sref="login">Log in</a>
            </li>
            <li ng-if="vm.auth.isAuthenticated()" class="nav-item">
                <a ng-click="vm.auth.logout()">Log out</a>
            </li>
        </ul>
    </div>
</div>
