<div class="mi-card">
  <div class="mi-card-image-container">
    <img ng-if="card.multiverseId" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseId}}&type=card"></img>
    <img ng-if="!card.multiverseId" src="http://via.placeholder.com/80x112"></img>
  </div>
  <div class="mi-card-text-container">
      <div class="mi-card-info">
        <div>
          {{card.name}}
        </div>
        <div>
          {{card.setName}}
        </div>
      </div>
      <div ng-transclude></div>
  </div>
</div>
