<!-- <div class="mi-body">
    <div class="mi-pricing">
        <div ng-controller="SearchController as vm" class="mi-pricing-section">
            <div class="mi-pricing-section-header">

            </div>
            <div class="mi-card-container">
                <div ng-repeat="item in vm.searchResults" class="mi-card">
                    <div class="mi-card-section">
                        <div ng-if="item.multiverseid"class="mi-card-image" style="background-image: url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{item.multiverseid}}&type=card')"></div>

                    </div>
                    <div class="mi-card-section">{{item.name}} <br> {{item.set}}</div>
                    <div class="mi-card-section">
                        <div class="mi-card-price-container">
                            <div class="mi-card-price-section">
                                <div>Regular: {{item.price.regular.toFixed(2)}}</div>
                                <div>Foil: {{item.price.foil.toFixed(2)}}</div>
                            </div>
                            <div class="mi-card-price-section">
                            //<div>In Stock: {{item.quantityInStock.regular}}</div>
                              //  <div>In Stock: {{item.quantityInStock.foil}}</div>
                            </div>
                            <div class="mi-card-price-section">
                                <button ng-click="vm.cart.addRegular(item)">Add</button>
                                <button ng-click="vm.cart.addFoil(item)">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="CartController as vm" class="mi-pricing-section">
            <div class="mi-pricing-section-header">
                <h1>Cart</h1>
            </div>
            <div class="mi-card-container">
                <div ng-repeat="item in vm.cart.order.items" class="mi-card">
                    <div class="mi-card-section">
                        <div class="mi-card-image" style="background-image: url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{item.multiverseid}}&type=card')"></div>
                    </div>
                    <div class="mi-card-section">{{item.name}} <br> {{item.set}} </div>
                    <div class="mi-card-section">
                        <div class="mi-card-price-container">
                            <div class="mi-card-price-section">
                                <div>Regular: {{item.price.regular.toFixed(2)}}</div>
                                <div>Foil: {{item.price.foil.toFixed(2)}}</div>
                            </div>
                            <div class="mi-card-price-section">
                                <input ng-change="vm.updateQuantity(item, false, regularQuantity)" ng-value="item.quantityInCart.regular" ng-model="regularQuantity"></input>
                                <input ng-change="vm.updateQuantity(item, true, foilQuantity)" ng-value="item.quantityInCart.foil" ng-model="foilQuantity"></input>
                            </div>
                            <div class="mi-card-price-section">
                                //<div>of {{item.quantityInStock.regular}}</div>
                                //<div>of {{item.quantityInStock.foil}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mi-cart-options">
                <div class="mi-cart-options-container">Total : {{vm.cart.order.total.toFixed(2)}}</div>
                <div class="mi-cart-options-container"><button ng-show="!vm.cart.isSavedOrder" ng-click="vm.cart.saveOrder()">save for later</button><div style="font-size:16px; font-weight:200;"ng-show="vm.cart.isSavedOrder">Order is saved</div></div>
                <div class="mi-cart-options-container"><button ng-show="!vm.cart.isSavedOrder" ng-click="vm.cart.clear()">clear</button> <button ng-show="vm.cart.isSavedOrder" ng-click="vm.cart.order= cart.order = {items:[],total: 0};vm.cart.isSavedOrder = false">finish</button></div>
            </div>
            <div ng-show="vm.cart.savedOrders.length > 0"class="mi-saved-orders">
                <div ng-repeat="savedOrder in vm.cart.savedOrders track by $index" class="mi-saved-order">
                    Order number {{$index+1}}
                    <div ng-repeat="item in savedOrder.items" class="mi-mini-card">
                        <div class="mi-card-section">{{item.name}} <br> {{item.set}} </div>
                        <div class="mi-card-section">
                            <div class="mi-card-price-container">
                                <div class="mi-card-price-section">
                                    <div ng-show="item.quantityInCart.regular > 0">{{item.quantityInCart.regular}} none-foil at: </div>
                                    <div ng-show="item.quantityInCart.foil > 0">{{item.quantityInCart.foil}} foil at: </div>
                                </div>
                                <div class="mi-card-price-section">
                                    <div ng-show="item.quantityInCart.regular > 0" >{{item.price.regular}}</div>
                                    <div ng-show="item.quantityInCart.foil > 0">{{item.price.foil}}</div>
                                </div>
                                <div class="mi-card-price-section">
                                    //<div>of {{item.quantityInStock.regular}}</div>
                                    //<div>of {{item.quantityInStock.foil}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    Total: {{savedOrder.total.toFixed(2)}}
                     <button ng-click=" vm.cart.savedOrders.splice($index, 1); vm.cart.deleteOrder(savedOrder); vm.cart.isSavedOrder = false;">clear</button>
                     <button ng-click="vm.cart.clear(); vm.cart.order = savedOrder; vm.cart.isSavedOrder = true;">edit</button>
                </div>
            </div>
        </div>

    </div>
</div> -->
