<div class="mi-body">
    <div class="mi-column">
        <div class="mi-search-container">
            <search model="vm.cardName" query="vm.typeahead.inventoryName"></search>
            <button ng-click="vm.query()">Find inventory</button>
        </div>
        <div class="mi-card-scrollable">
            <card ng-repeat="inventoryItem in vm.searchResults.list track by $index" behaviour="vm.addCardToOrder"card="inventoryItem"></card>
        </div>
    </div>
    <div class="mi-column">
        <table class="mi-admin-order-cards mi-margin-bottom">
          <tr>
            <th>Name</th>
            <th>Set</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          <tr ng-click="vm.removeCardFromOrder(card)"class="mi-admin-order-card" ng-repeat="card in vm.storage.data.localOrder.list">
            <td>{{card.name}}</td>
            <td>{{card.setName}}</td>
            <td>{{card.condition}}</td>
            <td>{{card.price}}</td>
            <td>{{card.quantity}}</td>
          </tr>
          <tr style="font-size:20px;">
              <td><b>Total</b></td>
              <td></td>
              <td></td>
              <td><b>{{vm.storage.data.localOrder.total}}</b></td>
              <td><b>{{vm.storage.data.localOrder.list.length}}</b></td>
          </tr>
        </table>
    </div>
</div>
