<div class="body">
    <div class="login-container">
        <div class="login-widget">
            <div class="login-headers">
                <a ui-sref="home"><img src="assets/logo.svg"></img></a>
            </div>
            <form ng-submit="vm.auth.login(vm.email, vm.password)" class="login-form">
                <input type="email" ng-model="vm.email" placeholder="email"></input>
                <input type="password" ng-model="vm.password" placeholder="password"></input>
                <button>Sign In</button>
            </form>
        </div>
    </div>
</div>
