<div class="mi-column" style="justify-content:center; flex:1;">
    <div style="justify-content:space-between" class="mi-row">
        <div>
            <select ng-model="card.condition">
          <option value="MINT">Mint</option>
          <option value="NEAR_MINT">Near Mint</option>
          <option value="LIGHTLY_PLAYED">Lightly Played</option>
          <option value="MODERATELY_PLAYED">Moderately Played</option>
                <option value="HEAVILY PLAYED">Heavily Played</option>
            <option value="DAMAGED">Damaged</option>
            </select> <br>  <input type="number" ng-model="card.price" placeholder="price"></input>
        </div>
        <div style="padding:0 80px;" class="mi-row">
            <button ng-click="buttonpress(card)" class="mi-card-cart-button">Add Inventory</button>
        </div>
    </div>
</div>
