<div class='mi-body'>
  <div class="test-grid">
    <div class="test-row">
      <div class="test-section">
        <input ng-model="vm.storeName" placeholder="store name"></input>
        <input ng-model="vm.storeEmail" placeholder="store email"></input>
        <input ng-model="vm.storePhone" placeholder="store phone number"></input>
        <input ng-model="vm.storeCity" placeholder="store city"></input>
        <input ng-model="vm.storeState" placeholder="store state"></input>
        <input ng-model="vm.storeZip" placeholder="store zip code"></input>
        <button ng-click="vm.createStore(vm.storeName, vm.storeEmail, vm.storePhone, vm.storeCity, vm.storeState, vm.storeZip)">create test store</button>
        <button ng-click="vm.getStore()">get store</button>
        <div class="test-scroll">
          <div class="test-data" ng-repeat="store in vm.stores track by $index">
            <div ng-repeat="data in vm.getKeys(store.node) track by $index">
              {{data}}: {{store.node[data]}}
            </div>
          </div>
        </div>
      </div>
      <div class="test-section">
        <input ng-model="vm.userName" placeholder="name"></input>
        <input ng-model="vm.userEmail" placeholder="email"></input>
        <button ng-click="vm.createUser(vm.userName, vm.userEmail)">create test user</button>
        <button ng-click="vm.getUser()">get user</button>
        <div class="test-scroll">
          <div class="test-data" ng-repeat="user in vm.users">
            <div ng-repeat="data in vm.getKeys(user.node) track by $index">
              {{data}}: {{user.node[data]}}
            </div>
          </div>
        </div>
      </div>
      <div class="test-section">
        <input ng-model="vm.orderStoreId" placeholder="store id"></input>
        <input ng-model="vm.orderUserId" placeholder="user id"></input>
        <input ng-model="vm.orderStatus" placeholder="status default: sent"></input>
        <input ng-model="vm.orderPrice" placeholder="price"></input>
        <button ng-click="vm.createOrder(vm.orderStoreId, vm.orderUserId, vm.orderStatus, vm.orderPrice)">create test order</button>
        <input ng-model="vm.getOrderStoreId" placeholder="get store id"></input>
        <input ng-model="vm.getOrderUserId" placeholder="get user id"></input>
        <button ng-click="vm.getOrder(vm.getOrderStoreId, vm.getOrderUserId)">get order</button>
        <div class="test-scroll">
          <div class="test-data"ng-repeat="order in vm.orders">
            <div ng-repeat="data in vm.getKeys(order.node) track by $index">
              {{data}}: {{order.node[data]}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="test-row">
      <div class="test-section">
        <input ng-model="vm.inventoryCardId" placeholder="card id"></input>
        <input ng-model="vm.inventoryStoreId" placeholder="store id"></input>
        <input ng-model="vm.inventoryCondition" placeholder="condition default: mint"></input>
        <input ng-model="vm.inventoryPrice" placeholder="price"></input>
        <button ng-click="vm.createInventory(vm.inventoryCardId,vm.inventoryStoreId,vm.inventoryCondition, vm.inventoryPrice)">create test inventory</button>
        <input ng-model="vm.getInventoryCardId" placeholder="get card id"></input>
        <input ng-model="vm.getInventoryStoreId" placeholder="get store id"></input>
        <button ng-click="vm.getInventory(vm.getInventoryStoreId)">get inventory</button>
        <div class="test-scroll">
          <div ng-repeat="inventory in vm.inventories">
            <div ng-repeat="data in vm.getKeys(inventory.node) track by $index">
              {{data}}: {{inventory.node[data]}}
            </div>
          </div>
        </div>
      </div>
      <div class="test-section">
        <button ng-click="vm.getCard()">get card</button>
        <div class="test-scroll">
          <div ng-repeat="card in vm.cards">
            <div ng-repeat="data in vm.getKeys(card.node) track by $index">
              {{data}}: {{card.node[data]}}
            </div>
          </div>
        </div>
      </div>
      <div class="test-section">
        <input ng-model="vm.orderItemNumber" placeholder="order number"></input>
        <input ng-model="vm.orderItemInventory" placeholder="Inventory id"></input>
        <button ng-click="vm.createOrderItem(vm.orderItemNumber, vm.orderItemInventory)">create order item</button>
        <input ng-model="vm.getOrderItemStoreId" placeholder="store Id"></input>
        <input ng-model="vm.getOrderItemUserId" placeholder="user id"></input>
        <button ng-click="vm.getOrderItem(vm.getOrderItemStoreId,vm.getOrderItemUserId)">get order item</button>
        <div class="test-scroll">
          <div ng-repeat="orderItem in vm.orderItems">
            <div ng-repeat="data in vm.getKeys(orderItem.node) track by $index">
              {{data}}: {{orderItem.node[data]}}
            </div>
          </div>
        </div></div>
    </div>
  </div>
</div>
