<div class="mi-nav-contaier">
    <div class="mi-header-desktop">
        <div class="mi-header-section">
            <a class="navbar-brand" href="#">Magic Inventory System</a>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div class="mi-header-section">
            <a class="mi-header-link" ui-sref="home">
                <div class="mi-header-link-box">
                    Home
                </div>
            </a>
            <a ng-if="!vm.auth.isAuthenticated()" class="mi-header-link" ng-click="vm.auth.login()">
                <div class="mi-header-link-box">
                    Log in
                </div>
            </a>
            <a ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="mi-header-link" ui-sref="search">
                <div class="mi-header-link-box">
                    Price Cards
                </div>
            </a>
            <a ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="mi-header-link" ui-sref="inventory">
                <div class="mi-header-link-box">
                    Manage Inventory
                </div>
            </a>
            <a ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="mi-header-link" ui-sref="orders">
                <div class="mi-header-link-box">
                    View Orders
                </div>
            </a>
            <a ng-if="vm.auth.isAuthenticated() && vm.auth.isAdmin()" class="mi-header-link" ui-sref="settings">
                <div class="mi-header-link-box">
                    Settings
                </div>
            </a>
        </div>
    </div>
    <div class="mi-header-mobile">
        <a class="" href="#">Magic Inventory System</a>

        <button class="btn btn-primary btn-margin" ui-sref="home">
                Home
            </button>

        <button class="btn btn-primary btn-margin">
                Add inventory
        </button>

        <button class="btn btn-primary btn-margin" ui-sref="search">
                Check prices
        </button>
    </div>
</div>


<!--
      <button
        class="btn btn-primary btn-margin"
        ng-if="vm.auth.isAuthenticated()"
        ui-sref="ping">
          Ping
      </button>

      <button
        class="btn btn-primary btn-margin"
        ng-if="vm.auth.isAuthenticated() && vm.auth.userHasScopes(['write:messages'])"
        ui-sref="admin">
          Admin
      </button>

      <button
        class="btn btn-primary btn-margin"
        ng-if="vm.auth.isAuthenticated()"
        ng-click="vm.auth.logout()">
          Log Out
      </button> -->
