<div class="mi-search-level">
    <button>Basic</button>
    <button>Advanced</button>
</div>
<div class="mi-search-basic">
    <div class="mi-search-row">
        <input class="mi-input"></input>
    </div>
    <div class="mi-search-row">
        <div ng-show="vm.isAdvancedSearch" class="mi-search-advanced">
            <div class="mi-search-advanced-section">
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
            </div>
            <div class="mi-search-advanced-section">
                Rarity: </br>
                <select>
                  <option value="common">Common</option>
                  <option value="saab">Uncommon</option>
                  <option value="mercedes">Rare</option>
                  <option value="audi">Mythic</option>
                  <option value="audi">Timeshifted</option>
                </select>
            </div>
            <div class="mi-search-advanced-section">
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="mi-search-results">
    <div ng-repeat="item in vm.cart.searchResults" class="mi-card">
        <div class="mi-card-section">
            <div class="mi-card-image" style="background-image: url('http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{item.multiverseid}}&type=card')"></div>
        </div>
        <div class="mi-card-section">{{item.name}}</div>
        <div class="mi-card-section">
            <div class="mi-card-price-container">
                <div class="mi-card-price-section">
                    <div>Regular: {{item.price.regular}}</div>
                    <div>Foil: {{item.price.foil}}</div>
                </div>
                <div class="mi-card-price-section">
                    <div>In Stock: {{item.quantityInStock.regular}}</div>
                    <div>In Stock: {{item.quantityInStock.foil}}</div>
                </div>
                <div class="mi-card-price-section">
                    <button ng-click="vm.cart.add(item)">Add</button>
                    <button ng-click="vm.cart.add(item)">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
