.order-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.order-sort-by-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.order-sort-by {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order-filter-by {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order-sort-by div {
    padding: 1rem 2rem;
    background: rgb(168, 231, 245);
    transition: .2s background-color;
}

.order-sort-by div:hover {
    background-color: rgb(138, 213, 230);
}

.order-sort-by-item {
    height: 100px;
    background-color: white;
    padding: 0 10px;
    margin: 0 2px;
}

.admin-order-container {
    flex: 1;
    display: flex;
}

.admin-order-container-pagination {
    display: flex;
    justify-content: center;
}

.admin-order {
    padding: 20 40px;
    box-sizing: border-box;
    border: 4px solid grey;
}

.admin-order-cards {
    width: 100%;
}

.admin-order-cards tr:first-child {
    background: #f8f8f8;
}

.admin-order-cards tr:nth-child(2n+3) {
    background: rgb(207, 207, 207);
}

.admin-order-cards tr:nth-child(2n) {
    background: rgb(175, 175, 175);
}
