.search-options{
    display:flex;
    justify-content: center;
}
.search-option-btn{
    padding: 10px 20px;
    margin: 4px 20px;
}
.store-inventory-container{
    background-color: white;
    display:flex;
    flex-direction: column;
    width: 100%;
}
.card-scrollable {
    overflow: auto;
}
