.btn-margin {
  margin-top: 7px
}

a {
  cursor: pointer;
}

.profile-area img {
  max-width: 150px;
  margin-bottom: 20px;
}

.panel-body h3 {
  margin-top: 0;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}



.mi-column{
  display: flex;
  flex-direction: column;
}
body {
    margin: 0;
    background-color: #f8f8f8;
}

.mi-nav-contaier {
    position: fixed;
    height: 75px;
    background-color: rgb(65, 65, 65);
    left: 0;
    right: 0;
}

.mi-header-desktop {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.mi-header-section {
    flex: 0 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand{
    color: white;
    font-size: 1.5rem;
    text-decoration: none !important;
}

.mi-header-link {
    height:100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-weight: 700;
    color: #ffffff;
}
.mi-header-link-box{
    height:100%;
    align-items: center;
    display:flex;
    box-sizing: border-box;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color .2s ease;
}
.mi-header-link-box:hover{
    border-bottom-color: black;
}

.mi-header-mobile {
    display: none;
}

.mi-body {
    margin: 0 auto;
    padding-top: 75px;
    max-width: 1200px;
    min-height: 600px;
}

@media only screen and (max-width: 800px) {
    .mi-header-desktop {
        display: none;
    }
    .mi-header-mobile {
        display: block;
    }
}



.mi-pricing {
    display: flex;
    justify-content: space-between;
    padding: 10 0;
    width: 810px;
}

.mi-pricing-section {
    background-color: white;
    width:400px;
    height: 600px;
}
.mi-pricing-section-header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 50px;
  width: 100%;
}
.mi-pricing-section-header h1{
    text-align: center;
    margin: 0;
}

.mi-search-row button{
    display: block;
    width: 100px;
    font-size: 16px;
    padding: 6px 11px;

/*
TODO:
make expanding image not scroll on the x axis
*/
.mi-search-basic{
    width: 100%;
    padding-top: 4px;
}
.mi-search-row{
    width:100%;
    display:flex;
    justify-content: center;
}
.mi-input{
    font-size: 20px;
    padding: 5px;
    width: 300px;
    border: 1px solid #bcbec1;
}
.mi-search-advanced{
    display:flex;
}
.mi-search-advanced-section{
    padding: 5px;
}
.custom-popup-wrapper{

}
.dropdown-menu{
    margin: 0;
    position: absolute;
    z-index: 2;
    background-color: white;
    min-width: 300px;
    padding: 0;
    border: 1px solid black;
}
.dropdown-menu li{
    list-style-type: none;

}
.dropdown-menu li a{
    color:black;
    text-decoration: none !important;
}
.dropdown-menu li:hover{
    background-color: #337ab7;
}
