body {
    margin: 0;
    background-color: #f8f8f8 !important;
}

a {
    cursor: pointer;
}

.mi-column {
    display: flex;
    flex-direction: column;
}

.mi-full-height{
    height:100%;
}

.mi-row {
    display: flex;
}

.btn-margin {
    margin-top: 7px
}

.mi-margin-bottom {
    margin-bottom: 20px;
}

.mi-body {
    margin: 0 auto;
    padding-top: 75px;
    box-sizing: border-box;
    max-width: 1200px;
    min-height: 600px;
}
