body {
    margin: 0;
    background-color: #f3f3f3 !important;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

ul{
    padding-left: 0px;
    margin:0 !important;
}
.app{
    display:flex;
    flex-direction: column;
    height: 100%;
}
.content{
    flex:1;
    display: flex;
}
.mi-column {
    display: flex;
    flex-direction: column;
}

.mi-full-height {
    flex: 1;
}

.mi-row {
    display: flex;
}

.btn-margin {
    margin-top: 7px
}

.mi-margin-bottom {
    margin-bottom: 20px;
}

.body {
    margin: 0 auto;
    max-width: 1200px;
}
