<div class="mi-body">
  <div class="mi-manage-inventory-header">
    <div style="display:flex; justify-content:space-around;">
      <button ng-click=" vm.collapseAddInventory=0">Add by name and set</button>
      <button ng-click=" vm.collapseAddInventory=1">Add by image and name</button>
      <button ng-click=" vm.collapseAddInventory=2">mass entry</button>
    </div>
  </div>
    <div>
      <div ng-hide="vm.collapseAddInventory != 0">
        <div style="display:flex;">
          <div class="mi-add-inventory-condition">
            Add By Set: <search model="vm.cardSetName" query="vm.typeahead.cardSetName"></search>
          </div>
        </div>
        <div class="mi-add-inventory-container">
          <div>
            <div class="mi-add-inventroy-section">
              <table>
                <tr>
                  <td>name</td>
                  <td><search model="vm.cardName" query="vm.typeahead.cardNameBySet"></search></td>
                </tr>
                <tr>
                  <td> set or set code:</td>
                  <td>{{vm.cardSetName}}</td>
                </tr>
              </table>
            </div>
            <div style="display:flex;justify-content: center;">or</div>
            <div class="mi-add-inventroy-section">
              <table>
                <tr>
                  <td> set or set code:</td>
                  <td>{{vm.cardSetName}}</td>
                </tr>
                <tr>
                  <td>collectors number:</td>
                  <!-- TODO -->
                  <td><input placeholder="this doesnt work yet" ng-model="vm.collectorsNumber"></input></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <button ng-click="vm.queryCard(vm.cardName, vm.cardSetName)">Search for card</button>
      </div>
      <div ng-hide="vm.collapseAddInventory != 1">
        <div class="mi-search-container">
          <search model="vm.cardName" query="vm.typeahead.cardName"></search>
          <button ng-click="vm.queryCard(vm.cardName)">Search for card</button>
        </div>
      </div>
      <!-- TODO -->
      <div ng-hide="vm.collapseAddInventory != 2">
        this doesn't work yet
      </div>
    </div>
    <card ng-hide="vm.collapseAddInventory == 3" ng-repeat="inventoryItem in vm.searchResults track by $index" behaviour="vm.addInventory" info="inventoryItem"></card>
  </div>
</div>
